doctype html
html
  head
    title= applicationTitle
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1= applicationTitle
    main
      block content
    footer
      p Copyright #{copyrightYear} Discovery Education
